    {% extends 'base.html' %}
    {% block content %}
    <h1>BENVENUTI NELLA HOME PAGE!</h1>
    <hr>
    <h4>Giornalisti:</h4>
    {% for giornalista in giornalisti %}
       <p>{{ giornalista.nome }} {{ giornalista.cognome }}</p>
       <h4>Articoli:</h4>
       {% comment %} 
       giornalista.articoli.all specifica la relazione inversa (articoli)
       che abbiamo definito nel models.py, cioè sapere gli Articoli
       scritti da un determinato Giornalista. Il tag empty serve a gestire
       le righe vuote, cioè giornalisti che non hanno articoli. 
       {% endcomment %}
       {% for articolo in giornalista.articoli.all %}
       <p><a href="{{ articolo.get_absolute_url }} ">{{ articolo.titolo }}</a></p>
    {% empty %}
       <p>{{giornalista.nome}} non ha scritto alcun articolo!</p>
       {% endfor %}
       <hr>
    {% endfor %}
    {% endblock content %}